version: '3'
services:
  prometheus:
    ports:
      - 127.0.0.1:49090:9090

  alertmanager:
    ports:
      - 127.0.0.1:49093:9093

  statsd_exporter:
    ports:
      - 127.0.0.1:49102:9102

  as:
    volumes:
      - ./main.py:/app/main.py
